.buffalo{height:150px;}

.{height:150px;}

.snake{width:940px;}

body {background-color:#EBDDE2;}
      
.center {text-align:center;}

.thirty{font-size:50px;}

.space{line-height:90%}

.amose{font-size:25px;}

.napkin{font-size:45px;}

.container { margin: 0px auto; }

.bdr
{
border-style:solid;
border-width:5px;
}
